.navigation {
    width: 100vw;
    padding: 2rem 4rem;
    background: rgba(85, 57, 57, 0.95);
    position: fixed;
}

.navigation__logo {
    font-size: 7rem;
    color: #eee;
}  

@media screen and (max-width: 100rem) {
    .navigation__logo {
        font-size: 5rem;
    }
}