.header {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom right, rgba(71, 45, 45, 0.6), rgba(85, 57, 57, 0.6)), url("/public/img/coffee.jpg");
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #eee;
    gap: 40px;
}

.header__h1 {
    font-size: 120px;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
}

.header__h2 {
    font-size: 60px;
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
}

.header__button {
    font-size: 20px;
    background-color: #D36B00;
    border: none;
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 5px;
}